/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #184effff;
  /* --ifm-color-primary-dark: #5BD968;
  --ifm-color-primary-darker: #4BB355;
  --ifm-color-primary-darkest: #3B8C43;
  --ifm-color-primary-light: #9EFFA8;
  --ifm-color-primary-lighter: #B8FFBF;
  --ifm-color-primary-lightest: #D1FFD6;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1); */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #6b91ffff;
  /* --ifm-color-primary-dark: #5BD968;
  --ifm-color-primary-darker: #4BB355;
  --ifm-color-primary-darkest: #3B8C43;
  --ifm-color-primary-light: #9EFFA8;
  --ifm-color-primary-lighter: #B8FFBF;
  --ifm-color-primary-lightest: #D1FFD6;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3); */
}